@font-face{
    font-family: RobotoSlab;
    src: url(/public/fonts/RobotoSlab-VariableFont_wght.ttf);
}
@mixin RobotoSlab($size, $textcolor, $weight) {
    font-family: 'Roboto Slab', serif;
    font-size: $size;
    color: $textcolor;
    font-weight: $weight;
}
.Page1{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    ". . ."
    "main main svg"
    " footer footer footer"
    ;
}
html{
    font-size: 10px;
}


/*Greeting*/
.Greeting{
    grid-area: main;
    margin-left: 5vw;
    .hello{
        @include RobotoSlab(6rem,#2F2E41, 300 )
        
    }
    .text2 h2{
        @include RobotoSlab(3rem, #504e4e, 200 );
    }
}
/*Svg*/
.Svg{
    grid-area: svg;

    margin-right: 10vw;
    #CircleGrey path{
        animation: Circles 20s ease-in-out infinite alternate;
    }
    #Three_Circles path{
        animation: Circles 20s ease-in-out infinite alternate;
    }
   
    @keyframes Circles{
        0%{
            fill:#F2F2F2;
        }
        30%{
            fill: #b9b5df;
        }
        60%{
            fill:#F2F2F2;
        }
        100%{
            fill: #6C63FF;
        }
    }
    #BigPurpleRec path{
        animation: transformation 2s ease-out infinite alternate;
    }
    @keyframes transformation {
        from{
            transform: none;
        }
        to{
            transform: translate(-15px, 9px);
        }
    }
    svg{
        width: 500px;
        height: 350.92px;
    }
}



/*Footer*/
footer{
    grid-area: footer;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        h3{
            @include RobotoSlab(4rem, black, 200 );
        }
        h3::after{
            content: "";
            display: block;
            background: #6C63FF;
            width: 0rem;
            height: 5px;
            transition: 400ms;
        }
        h3:hover::after{
            width: 100%
        }
    }
    
    
}



@media (min-width: 3500px){
    .Greeting{
        .hello{
            @include RobotoSlab(15rem,#2F2E41, 300 )
            
        }
        .text2 h2{
            @include RobotoSlab(7rem, #504e4e, 200 );
        }
        
    }
    .Svg{
        margin-top: 5vh; 
        svg{
            width: 800px;
            height: 561.47px;
        }
    }
    footer{
        a{
            h3{
                @include RobotoSlab(12rem, black, 200 );
            }
            h3:hover::after{
                width: 100%
            }
        }
        
    }
}

@media (max-width: 1100px) {
    .Greeting{
        .hello{
            @include RobotoSlab(5rem,#2F2E41, 300 )
            
        }
        .text2 h2{
            @include RobotoSlab(2rem, #504e4e, 200 );
        }
    }
    .Svg{
        svg{
            width: 450px;
            height: 315.83px;
        }
    }
}
//Ipad Pro
@media (max-width: 1024px){
    
    .Page1{
        display: grid;
        grid-template-areas: 
        "svg"
        "main"
        "footer"
        ;
    }
    .Greeting{
        margin: 0 auto;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .hello{
            @include RobotoSlab(5rem,#2F2E41, 300 );
            
        }
        .text2 h2{
            @include RobotoSlab(2rem, #504e4e, 200 );
        }
    }
    .Svg{
        margin: 10vh auto;
        width: 400px;
        height: 280.74px;
    }
    footer{
        margin: 0 auto;
    }
}
//phones
@media (max-width: 500px){
    .Svg{
        display: flex;
        justify-content: center;
        
        svg{
            width: 230px;
            height: 161.42px;  
        }
    }
    .Greeting{
        margin-bottom: 10vh;
    }
    footer{
        margin-bottom: 15vh;
    }
}
//smaller phones
@media (max-width: 415px){
    .Svg{
        margin-bottom: -5vh;
    }
    .Greeting{
        margin-bottom: 5vh;
        
        .hello{
            @include RobotoSlab(3.5rem,#2F2E41, 300 );
            
        }
        .text2 h2{
            @include RobotoSlab(1.5rem, #504e4e, 200 );
        }
    }
    footer{
        a{
            h3{
                @include RobotoSlab(2.5rem, #504e4e, 200 );
            }
        }
        
    }
}
@media (max-width: 375px){
   
    .Svg{
        margin-right: -15vw;
        margin-bottom: -6vh;
        svg{
            margin-right: 20vw;
            width: 200px;
            height: 140.37px;
        }
    }
    .Greeting{
        margin-left: 20vw;
        line-height: 18px;
    }
    footer{
        margin-left: 30vw;
    }
}