@font-face {
  font-family: RobotoSlab;
  src: url(/public/fonts/RobotoSlab-VariableFont_wght.ttf);
}

.Page3 {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . . . " ". main section ." ". footer footer  .";
}

html {
  font-size: 10px;
}

.bubbles {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 60px;
      grid-template-columns: 60px 60px;
  z-index: -1;
  right: 3vw;
  top: -16vh;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.bubbles div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #B6B2ED;
  margin-bottom: 5vh;
}

.myImage {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  width: 260px;
  height: 260px;
  background-size: cover;
  border-radius: 50%;
  border: 1.5px solid black;
  padding: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.myImage a div {
  width: 100%;
  height: 100%;
  background-image: url(../images/my_img.jpg);
  background-size: cover;
  border-radius: 50%;
  opacity: 0.87;
}

.myImage:hover {
  padding: 0px;
}

.myImage:hover div {
  opacity: 1;
}

.text_near_Image {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: section;
  width: 50vw;
  margin-right: -5vw;
  margin-top: 10vh;
}

.text_near_Image h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: black;
  font-weight: 100;
}

.technologies {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 0.7fr 0.7fr;
      grid-template-columns: 0.7fr 0.7fr 0.7fr;
  height: 10vh;
}

.technologies .text_under_section {
  margin-top: -10vh;
  position: absolute;
}

.technologies .text_under_section h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.2rem;
  color: black;
  font-weight: 100;
}

.technologies .frontend .titleF h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: black;
  font-weight: 100;
}

.technologies .frontend .techsF {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.technologies .frontend .techsF span {
  width: 9vw;
  height: 3.5vh;
  border-radius: 20px;
  background-color: #B6B2ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies .frontend .techsF span h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  color: black;
  font-weight: 100;
}

.technologies .mobile .titleM h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: black;
  font-weight: 100;
}

.technologies .mobile .techsM {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.technologies .mobile .techsM span {
  width: 10vw;
  height: 3.5vh;
  border-radius: 20px;
  background-color: #B6B2ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies .mobile .techsM span h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  color: black;
  font-weight: 100;
}

.technologies .other .titleB h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: black;
  font-weight: 100;
}

.technologies .other .techsB {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.technologies .other .techsB div {
  width: 8vw;
  height: 3.5vh;
  border-radius: 20px;
  background-color: #B6B2ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies .other .techsB div h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  color: black;
  font-weight: 100;
}

@media (min-width: 3500px) {
  .text_near_Image h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 7rem;
    color: black;
    font-weight: 100;
  }
  .myImage {
    margin-top: 6vh;
    width: 500px;
    height: 500px;
  }
  .technologies .text_under_section h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .titleF h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .techsF span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .titleM h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .techsM span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .titleB h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .techsB div h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: black;
    font-weight: 100;
  }
}

@media (max-width: 1100px) {
  .text_near_Image {
    width: 80vw;
  }
  .text_near_Image h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: black;
    font-weight: 100;
  }
  .Page3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". . main . . " ". . section . ." ". footer footer footer .";
  }
  .bubbles {
    -ms-grid-columns: 70px 70px;
        grid-template-columns: 70px 70px;
    right: 6vw;
    top: -16vh;
  }
  .bubbles div {
    margin-bottom: 4vh;
  }
  .myImage {
    margin-top: 10vh;
    margin-bottom: -10vh;
    margin-left: 25vw;
  }
  .technologies {
    width: 80vw;
    margin-left: 10vw;
  }
  .technologies .frontend .techsF span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .techsM span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .techsB div h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
}

@media (max-width: 800px) {
  .bubbles {
    top: -18vh;
  }
  .myImage {
    margin-bottom: -15vh;
    margin-left: 20vw;
  }
  .technologies .text_under_section h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .techsF span {
    width: 11vw;
  }
  .technologies .mobile .techsM span {
    width: 12vw;
  }
  .technologies .mobile .techsM span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .techsB div {
    width: 11vw;
  }
}

@media (max-width: 600px) {
  .text_near_Image {
    margin-left: 11vw;
  }
  .text_near_Image h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.4rem;
    color: black;
    font-weight: 100;
  }
  .myImage {
    margin-bottom: -20vh;
    margin-left: 25vw;
    width: 210px;
    height: 210px;
  }
  .technologies {
    margin-left: 10vw;
  }
  .technologies .text_under_section h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .techsF {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .technologies .frontend .techsF span {
    width: 15vw;
  }
  .technologies .frontend .techsF span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .techsM {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .technologies .mobile .techsM span {
    width: 15vw;
  }
  .technologies .mobile .techsM span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .techsB {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .technologies .other .techsB div {
    width: 15vw;
  }
  .technologies .other .techsB div h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: black;
    font-weight: 100;
  }
}

@media (max-width: 420px) {
  .bubbles {
    display: none;
  }
  .myImage {
    margin-top: 6vh;
    width: 140px;
    height: 140px;
  }
  .technologies {
    margin-left: 15vw;
    margin-bottom: 10vh;
  }
  .technologies .text_under_section {
    margin-left: -5vw;
  }
  .technologies .text_under_section h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .titleF {
    margin-bottom: 10px;
  }
  .technologies .frontend .titleF h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .techsF span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .titleM {
    margin-bottom: 10px;
  }
  .technologies .mobile .titleM h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .techsM span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .titleB {
    margin-bottom: 10px;
  }
  .technologies .other .titleB h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .techsB div h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
  }
  .text_near_Image {
    margin-left: 11vw;
  }
  .text_near_Image h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    color: black;
    font-weight: 100;
  }
}

@media (max-width: 340px) {
  .text_near_Image h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies {
    margin-left: 17vw;
  }
  .technologies .text_under_section {
    margin-left: 0vw;
  }
  .technologies .text_under_section h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .titleF h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .frontend .techsF span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .titleM h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .mobile .techsM span h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .titleB h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: black;
    font-weight: 100;
  }
  .technologies .other .techsB div h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
  }
}
/*# sourceMappingURL=page3.css.map */